@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-junia-purple: #3c2c53;
  --color-junia-orange: #f06b42;
  --color-junia-orange-accent:  #e85c30;
  --color-junia-lavender: #f7f1fd;
  --color-junia-salmon: #fff3f0;
  --font-title:"Montserrat",sans-serif;
  --font-paragraphs:"Libre Franklin", serif;

}
.font-title{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html body,#root {
  height: 100%;
  /*background-color: #f7f1fd;*/
}

.font-texts{
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  height: 90px !important;
  font-weight: 700;
  display:flex;

}

.body-container{
  height: calc(100vh) !important;
}

.box{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#fff;
  padding-top: 250px;

}

.btn-warning{
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 0 !important;
  border: none;
}
#formm{
  padding-top: 150px;
  }

.h-17\/100{
  height: 17%;
} 

.rounded-full{
  border-radius: calc(infinity*1px);
}


.button-type{
  background-color: #f06b42;
  border-radius: calc(infinity*1px);
  box-shadow: var(--shadow-md);
  color:white
}

.button-type:hover{
  background-color: #e85c30;
}
