@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-junia-purple: #3c2c53;
  --color-junia-orange: #f06b42;
  --color-junia-orange-accent:  #e85c30;
  --color-junia-lavender: #f7f1fd;
  --color-junia-salmon: #fff3f0;
  --font-title:"Montserrat",sans-serif;
}

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  height: 90px !important;
  font-weight: 700;
  display:flex;

}

.body-container{
  height: calc(100vh - 90px) !important;
}

.box{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#fff;
  padding-top: 250px;

}
h1{
  padding: 15px;
  font-size: 75px;
  text-shadow:  2px 3px white;
}
.btn-warning{
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 0 !important;
  border: none;
}
#formm{
  padding-top: 150px;
  }

  