.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content {
  max-width: 600px;
  width: 100%;
}

.modal input[type="file"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}
#root{
  background-color: #fff3f0;
}

.research-input {
  border-width: 2px;
  border-color: #f06b42;
  width: 50%;
}



.research-input::placeholder {
  color:rgba(240, 107, 66, 0.5)
}

.font-semibold{
  --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
}

.col-span-2 {
  grid-column: span 2; /* Prend la place de deux colonnes */
}
/*
.basic-multi-select {
  border-radius: calc(infinity*1px);
  border-width: 1px;
  border-color: #f06b42;
}*/

.basic-multi-select::placeholder {
  color:rgba(240, 107, 66, 1);
}